<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.heal.reply.mapper.ReplyMapper">
	<resultMap type="Reply" id="replyResultMap">
		<id property="no" column="NO"/>
		<result property="cont" column="CONT"/>
		<result property="createdate" column="CREATEDATE"/>
		<result property="modifydate" column="MODIFYDATE"/>
		<result property="memberno" column="MEMBERNO"/>
		<result property="photono" column="PHOTONO"/>
	</resultMap>
	
	<resultMap type="Reply" id="replyIdMap">
		<id property="no" column="NO"/>
		<result property="id" column="ID"/>
		<result property="cont" column="CONT"/>
		<result property="createdate" column="CREATEDATE"/>
		<result property="modifydate" column="MODIFYDATE"/>
		<result property="memberno" column="MEMBERNO"/>
		<result property="photono" column="PHOTONO"/>
	</resultMap>
	
	<select id="selectNew" parameterType="int" resultMap="replyResultMap">
 		SELECT * 
 		FROM (SELECT ROWNUM NUM, 
 					 NO, 
 					 CONT,
 					 CREATEDATE,
 					 MODIFYDATE,
 					 MEMBERNO, 
 					 PHOTONO
 			  FROM (SELECT * 
 			  		FROM TBL_REPLY 
 			  		ORDER BY NO DESC))
		WHERE NUM <![CDATA[<=]]> 5 AND MEMBERNO = #{no}
	</select>
	
	<select id="getCount" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM TBL_REPLY
		WHERE PHOTONO = #{no}
	</select>
	
	<select id="selectListByPhoto" parameterType="int" resultMap="replyIdMap">
		SELECT R.*, M.ID
		FROM TBL_REPLY R
		JOIN TBL_MEMBER M ON (M.NO = R.MEMBERNO)
		WHERE R.PHOTONO = #{no}
		ORDER BY R.NO DESC
	</select>
	
	<insert id="insert" parameterType="Reply" 
			useGeneratedKeys="true" keyProperty="no" keyColumn="NO">
		INSERT INTO TBL_REPLY (
			NO,
			CONT,
			CREATEDATE,
			MODIFYDATE,
			MEMBERNO,
			PHOTONO		
		) VALUES (
			REPLY_SEQ.NEXTVAL,
			#{cont},
			SYSDATE,
			SYSDATE,
			#{memberno},
			#{photono}
		)
	</insert>
	
	<delete id="delete" parameterType="int">
 		DELETE  
 		TBL_REPLY
 		WHERE NO = #{no}
	</delete>
	
	<!-- <![CDATA[]]> 내부에 문자 그대로 DB에 입력가능함 -->
	
</mapper>