<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.heal.food.mapper.FoodMapper">
	<resultMap type="Food" id="foodResultMap">
		<id property="no" column="NO"/>
		<result property="name" column="NAME"/>
		<result property="addr" column="ADDR"/>
		<result property="type" column="TYPE"/>
		<result property="main" column="MAIN"/>
		<result property="phone" column="PHONE"/>
		<result property="lat" column="LAT"/>
		<result property="lng" column="LNG"/>
	</resultMap>
	
	<select id="selectByNo" parameterType="int" resultMap="foodResultMap">
 		SELECT *
 		FROM TBL_FOOD
 		WHERE NO = #{no}
	</select>
	
	<select id="selectFoodList" parameterType="map" resultMap="foodResultMap">
		SELECT  *
		FROM TBL_FOOD
		WHERE NO <![CDATA[>=]]> 3
			<if test="keyword != null">
				AND NAME LIKE '%'||#{keyword}||'%'
			</if>
				<if test="city != null">
				AND ADDR LIKE '%'||#{city}||'%'
			</if>
			<if test="type != null">
				AND TYPE LIKE '%'||#{type}||'%'
			</if>
	</select>
	
	
	<select id="selectFoodCount" resultType="int" parameterType="map">
		SELECT  COUNT(*)
		FROM TBL_FOOD
		WHERE 1=1
		<if test="keyword != null">
			AND NAME LIKE '%'||#{keyword}||'%'
		</if>
			<if test="city != null">
			AND ADDR LIKE '%'||#{city}||'%'
		</if>
		<if test="type != null">
			AND TYPE LIKE '%'||#{type}||'%'
		</if>	
	</select> 
	
	<update id="updateFood" parameterType="string">
		UPDATE TBL_FOOD
		SET NAME = #{no1},
			ADDR = #{no2},
			PHONE= #{no3},
			MAIN = #{no4}
		WHERE NO = ${0}
	</update>
	
	
	<select id="selectByGu" parameterType="string" resultMap="foodResultMap">
		SELECT *
		FROM TBL_FOOD
		WHERE ADDR LIKE '%'||#{gu}||'%'
		AND ROWNUM <![CDATA[<=]]> 5
		
	</select>
</mapper>