<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.heal.photo.mapper.PhotoMapper">
	<resultMap type="Photo" id="photoIdMap">
		<id property="no" column="NO"/>
		<result property="id" column="ID"/>
		<result property="title" column="TITLE"/>
		<result property="cont" column="CONT"/>
		<result property="readcount" column="READCOUNT"/>
		<result property="originalfile" column="ORIGINALFILE"/>
		<result property="renamefile" column="RENAMEFILE"/>
		<result property="createdate" column="CREATEDATE"/>
		<result property="modifydate" column="MODIFYDATE"/>
		<result property="memberno" column="MEMBERNO"/>
	</resultMap>
	
	<resultMap type="Photo" id="photoResultMap">
		<id property="no" column="NO"/>
		<result property="title" column="TITLE"/>
		<result property="cont" column="CONT"/>
		<result property="readcount" column="READCOUNT"/>
		<result property="originalfile" column="ORIGINALFILE"/>
		<result property="renamefile" column="RENAMEFILE"/>
		<result property="createdate" column="CREATEDATE"/>
		<result property="modifydate" column="MODIFYDATE"/>
		<result property="memberno" column="MEMBERNO"/>
	</resultMap>
	
	<select id="selectByNo" parameterType="int" resultMap="photoIdMap">
		SELECT P.*, M.ID
		FROM TBL_PHOTO P
		JOIN TBL_MEMBER M ON (P.MEMBERNO = M.NO)
		WHERE P.NO = #{no}
	</select>
	
	<select id="selectMember" parameterType="int" resultMap="photoResultMap">
 		SELECT * 
 		FROM TBL_PHOTO
 		WHERE MEMBERNO = #{no}
	</select>
	
	<select id="selectPhotoList" parameterType="map" resultMap="photoResultMap">
 		SELECT *
 		FROM TBL_PHOTO
 		WHERE 1=1
 		<if test="keyword != null">
 			AND TITLE LIKE '%'||#{keyword}||'%'
 			OR CONT LIKE '%'||#{keyword}||'%'
 		</if>
 		<if test="category != null">
 			AND CATEGORY = #{category}
 		</if>
 		ORDER BY NO DESC
	</select>
	
	<select id="getPhotoCount" parameterType="map" resultType="int">
 		SELECT COUNT(*)
 		FROM TBL_PHOTO
 		WHERE 1=1
 		<if test="keyword != null">
 			AND TITLE LIKE '%'||#{keyword}||'%'
 			OR CONT LIKE '%'||#{keyword}||'%'
 		</if>
 		<if test="category != null">
 			AND CATEGORY = #{category}
 		</if>
	</select>
	
	<select id="selectByThree" resultMap="photoResultMap"> <!-- 최신 3개 가져오기 -->
 		SELECT NO,
			TITLE,
			CONT,
			READCOUNT,
			CATEGORY,
			ORIGINALFILE,
			RENAMEFILE,
			CREATEDATE,
			MODIFYDATE,
			MEMBERNO	
 		(SELECT ROWNUM NUM,
 				NO,
				TITLE,
				CONT,
				READCOUNT,
				CATEGORY,
				ORIGINALFILE,
				RENAMEFILE,	
				CREATEDATE,
				MODIFYDATE,
				MEMBERNO	
 		FROM (SELECT * FROM TBL_PHOTO ORDER BY NO DESC))
 		WHERE NUM BETWEEN 1 AND 3
	</select>
	
	<insert id="insert" parameterType="Photo"
			useGeneratedKeys="true" keyProperty="no" keyColumn="NO">
		INSERT INTO TBL_PHOTO (
			NO,
			TITLE,
			CONT,
			READCOUNT,
			CATEGORY,
			ORIGINALFILE,
			RENAMEFILE,
			CREATEDATE,
			MODIFYDATE,
			MEMBERNO		
		) VALUES (
			PHOTO_SEQ.NEXTVAL,
			#{title},
			#{cont},
			#{readcount},
			#{category},
			#{originalfile},
			#{renamefile},
			SYSDATE,
			SYSDATE,
			#{memberno}
		)
	</insert>
	
	<delete id="delete" parameterType="int">
 		DELETE  
 		TBL_PHOTO
 		WHERE NO = #{no}
	</delete>
	
</mapper>