<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.heal.hotel.mapper.HotelMapper">
	<resultMap type="Hotel" id="hotelResultMap">
		<id property="no" column="NO"/>
		<result property="phone" column="PHONE"/>
		<result property="addr" column="ADDR"/>
		<result property="name" column="NAME"/>
		<result property="price" column="PRICE"/>
		<result property="lat" column="LAT"/>
		<result property="lng" column="LNG"/>
	</resultMap>
	
	<select id="selectHotelByNo" parameterType="int" resultMap="hotelResultMap">
 		SELECT * 
 		FROM TBL_HOTEL
 		WHERE NO = #{no}
	</select>
	
	<select id="selectHotelList" parameterType="map" resultMap="hotelResultMap">
		SELECT  *
		FROM TBL_HOTEL
		WHERE 1=1
		<if test="keyword != null">
			AND NAME LIKE '%'||#{keyword}||'%'
		</if>
			<if test="city != null">
			AND ADDR LIKE '%'||#{city}||'%'
		</if>
		<if test="price != null">
			AND PRICE BETWEEN #{price} AND #{price2}	
		</if>
		ORDER BY NO DESC
	</select>
		
	<select id="selectHotelCount" resultType="int" parameterType="map">
		SELECT  COUNT(*)
		FROM TBL_HOTEL
		WHERE 1=1
		<if test="keyword != null">
			AND NAME LIKE '%'||#{keyword}||'%'
		</if>
		<if test="city != null">
			AND ADDR LIKE '%'||#{city}||'%'
		</if>
		<if test="price != null">
			AND PRICE BETWEEN #{price} AND #{price2}	
		</if>
		ORDER BY NO DESC
	</select> 
	
	<select id="selectNearHotelList" parameterType="string" resultMap="hotelResultMap">
		SELECT  *
		FROM TBL_HOTEL
		WHERE 1=1
		<if test="addr != null">
			AND ADDR LIKE '%'||#{addr}||'%'
		</if>
		ORDER BY NO DESC
	</select>
	
	<update id="updateHotel" parameterType="string">
		UPDATE TBL_HOTEL
		SET PHONE = #{no1},
			ADDR = #{no2},
			NAME = #{no3},
			LAT = #{no4}
		WHERE NO = ${0}
	</update>
	
</mapper>