<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.heal.like.mapper.LikeMapper">
	<resultMap type="Like" id="likeResultMap">
		<id property="no" column="NO"/>
		<result property="memberno" column="memberno"/>
		<result property="hotelno" column="hotelno"/>
		<result property="campno" column="campno"/>
		<result property="festivalno" column="festivalno"/>
		<result property="foodno" column="foodno"/>
		<result property="parkno" column="parkno"/>
	</resultMap>
	
	<select id="selectNew" parameterType="int" resultMap="likeResultMap">
 		SELECT * 
 		FROM (SELECT ROWNUM NUM, 
 					 NO, 
 					 MEMBERNO, 
 					 CAMPNO, 
 					 HOTELNO, 
 					 FESTIVALNO, 
 					 FOODNO, 
 					 PARKNO 
 			  FROM (SELECT * 
 			  		FROM TBL_LIKE 
 			  		ORDER BY no DESC))
		WHERE NUM <![CDATA[<=]]> 5 AND MEMBERNO = #{no}
	</select>
	
	<delete id="delete" parameterType="int">
 		DELETE  
 		TBL_LIKE
 		WHERE NO = #{no}
	</delete>
	
	<!-- <![CDATA[]]> 내부에 문자 그대로 DB에 입력가능함 -->
	
	<!-- 찜하기  -->
	<insert id="insertLike" parameterType="Like" >
		INSERT INTO TBL_LIKE (
			NO, 
			MEMBERNO, 
			HOTELNO, 
			CAMPNO, 
			FESTIVALNO, 
			FOODNO, 
			PARKNO 		
		) VALUES (
			REVIEW_SEQ.NEXTVAL,
 			#{memberno},
			<if test="hotelno != null">
				#{hotelno},
			</if>
			<if test="campno != null">
				#{campno},
			</if>
			<if test="festivalno != null">
				#{festivalno},
			</if>
			<if test="foodno != null">
				#{foodno},
			</if>
			<if test="parkno != null">
				#{parkno}
			</if>
					
 		)
	</insert>
 		
	<!-- 찜삭 FK(no), id -->
	<delete id="deleteLikeById" parameterType="int">
 		DELETE TBL_LIKE 
 		WHERE #{memberno},
 			<if test="hotelno != null">
				#{hotelno},
			</if>
			<if test="campno != null">
				#{campno},
			</if>
			<if test="festivalno != null">
				#{festivalno},
			</if>
			<if test="foodno != null">
				#{foodno},
			</if>
			<if test="parkno != null">
				#{parkno}
			</if>
	</delete>
	
	<select id="selectNo" parameterType="map" resultType="int">
		SELECT NO
		FROM TBL_LIKE
		WHERE MEMBERNO = #{no}
		<if test="hotelno != null">
			AND HOTELNO = #{hotelno}
		</if>
		<if test="campno != null">
			AND CAMPNO = #{campno}
		</if>
		<if test="festivalno != null">
			AND FESTIVALNO = #{festivalno}
		</if>
		<if test="foodno != null">
			AND FOODNO = #{foodno}
		</if>
		<if test="parkno != null">
			AND PARKNO = #{parkno}
		</if> 
	</select>
	
	<select id="checkNo" parameterType="map" resultType="int">
		SELECT COUNT(NO)
		FROM TBL_LIKE
		WHERE MEMBERNO = #{no}
		<if test="hotelno != null">
			AND HOTELNO = #{hotelno}
		</if>
		<if test="campno != null">
			AND CAMPNO = #{campno}
		</if>
		<if test="festivalno != null">
			AND FESTIVALNO = #{festivalno}
		</if>
		<if test="foodno != null">
			AND FOODNO = #{foodno}
		</if>
		<if test="parkno != null">
			AND PARKNO = #{parkno}
		</if> 
	</select>
	
	<!-- 찜삭 no -->
	<delete id="deleteLike" parameterType="int">
 		DELETE TBL_LIKE WHERE NO=#{no} 
	</delete>
	
	
</mapper>